PORT=3333
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/smartcheck
JWT_SECRET=supersecret
UPLOAD_DIR=uploads
WEB_ORIGIN=http://localhost:5173,http://192.168.2.100:5175,https://smartcheck.seudominio.com.br
