PORT=3333
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/smartcheck
JWT_SECRET=supersecret
UPLOAD_DIR=uploads
PRIVATE_UPLOAD_DIR=private-uploads
WEB_ORIGIN=http://localhost:5173,http://192.168.2.100:5175,https://smartcheck.seudominio.com.br
APP_TIMEZONE=America/Sao_Paulo
HR_WORK_SCHEDULE_ENABLED=false
EPI_BIOMETRIC_SIGNATURE_ENABLED=false
